/**
 * Define global configuration variable.
 */
$primary--color: #0366d6;
$text--color: #333;
$border--color: rgba(0,0,0,.08);

// screen resolution
$screen--extra-small: 480px;
$screen--small: 768px;
$screen--medium: 1024px;
$screen--large: 1200px;