<article class="C--post type--1 -has-shadow -rounded" id="post--1">
    <div class="post__card">
        <figure class="post__thumbnail">
            <div
                class="thumbnail__image U--overlay-layout U--background-cover"
                style="background-image: url(public/images/post/1.jpg)"
            ></div>
            <div class="thumbnail__ratio"></div>
        </figure>
        <div class="post__detail">
            <h3 class="post__title">Lurik: A Configurational Framework</h3>
            <span class="post__date">20 December 2018</span>
        </div>
        <a href="#" class="post__permalink U--overlay-layout"></a>
    </div>
</article>