<article class="post col-sm-4 C--post type--1 -has-shadow -rounded" id="post--1">
    <div class="post__card">
        <figure class="post__thumbnail">
            <span class="thumbnail__image U--overlay-layout U--background-cover" style="background-image: url(public/images/post/1.jpg)"></span>
            <span class="thumbnail__ratio"></span>
        </figure>
        <div class="post__detail">
            <h3 class="post__title">From the Top: Adobe Illustrator for Beginners</h3>
            <span class="post__date">16 December 2018</span>
        </div>
        <a href="#" class="post__permalink U--overlay-layout"></a>
    </div>
</article>