.C--block-header.type--1 {
    display: block;
    position: relative;
    margin: 0 0 48px;
    text-align: center;
    .header__title {
        display: block;
        margin: 0;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2;
    }
}