.U--text--left {
    text-align: left !important;
}
.U--text--center {
    text-align: center !important;
}
.U--text--right {
    text-align: right !important;
}
.U--text--justify {
    text-align: justify !important;
}